html,
body,
* {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Peralta', cursive;
}

body {
    background-color: rgb(255, 0, 0);
}

.header-title {
    display: flex;
    justify-content: center;
    font-size: 8rem;
    margin: 3% auto;

}

img {
    box-sizing: border-box;
    width: 85%;
    padding: 5px;
}

.item {
    font-size: 3rem;
    background-color: gold;
    border: solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 30%;
    padding: 5px;
    margin: 5% top;
    box-shadow: 10px 5px 15px rgb(238, 233, 220);
    border-radius: 3rem;
}

.about-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 85vw;
    margin: 0 auto;
    justify-content: space-between;
    justify-content: space-evenly;

}

.about-col {
    width: 27%;
    justify-content: space-evenly;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    margin: 3% auto;

}

.about {}

.text {
    font-size: 2rem;
    justify-content: center;
}


rgb(245, 243, 115);
rgb(237, 189, 247) background-color: rgb(183, 140, 224);