html,
body,
* {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    background-color: goldenrod;
}

.header-title {
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

.item {
    font-size: 3rem;
}

.about-img {
    width: 30vw;
    height: 30vw;
}